<div class="animated fadeIn" style="margin-bottom: 100%;">

    <div [ngClass]="{'disable': isBusy}" style="height:100%;left:50px;position: relative;">
        <app-top-menu></app-top-menu>
        <div class="row mt-5" style="position: absolute;" *ngIf="currentProduct">
            <div class="col-6 text-center">
                <img src={{currentProduct.imageURL}} alt="{{currentProduct.name}}" width="60%">
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12 text-left">
                        <h4 class="txt_pink">{{currentProduct.name}}</h4>
                    </div>
                    <div class="col-12 mt-2 text-left">
                        <p-rating [ngModel]="currentProduct.star" readonly="true" stars="5" [cancel]="false">
                        </p-rating>
                    </div>
                    <div class="col-12 text-left">
                        Có {{totalComment}} lượt bình luận và đánh giá.
                    </div>
                    <div class="col-4 mt-2 text-left">
                        Mã sản phẩm: <span class="txt_pink">{{currentProduct.id}}</span>
                    </div>
                    <div class="col-6 mt-2 text-left">
                        Thương hiệu: <span class="txt_pink">A3V</span>
                    </div>
                    <div class="col-12 mt-2 text-left">
                        <h3 class="txt_pink"> {{currentProduct.price}}đ </h3>
                    </div>
                    <div class="col-12 text-left mt-3">
                        <div class="btn-group mb-3">
                            <button class="btn btn-danger rounded" (click)="updateQuantityPurchased(-1)"
                                [disabled]="quantityPurchased <=0"><i class="pi pi-minus"></i></button>
                            <p class="ml-3 mr-3 mt-2 mb-2">{{quantityPurchased}}</p>
                            <button class="btn btn-danger rounded" (click)="updateQuantityPurchased(1)"
                                [disabled]="currentProduct.stock <=0"><i class="pi pi-plus"></i></button>
                            <div class="ml-2 mt-2" style="opacity: 0.7;" *ngIf="currentProduct.stock >0">
                                (Còn lại: {{currentProduct.stock}})
                            </div>
                            <div class="ml-2 mt-2" style="opacity: 0.7;color: #E91E63;"
                                *ngIf="currentProduct.stock <=0">
                                (Sản phẩm đã hết hàng)
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="button" class=" btn rounded-pill btn-danger "
                            [disabled]="quantityPurchased<=0" (click)="addToCart()"><span class="icon-shopping-cart-3"
                                style="font-size: x-large;"><span class="path1"></span><span class="path2"></span><span
                                    class="path3"></span><span class="path4"></span><span class="path5"></span><span
                                    class="path6"></span><span class="path7"></span><span class="path8"></span><span
                                    class="path9"></span><span class="path10"></span><span class="path11"></span><span
                                    class="path12"></span><span class="path13"></span><span class="path14"></span><span
                                    class="path15"></span><span class="path16"></span><span class="path17"></span><span
                                    class="path18"></span><span class="path19"></span></span>&nbsp;Thêm vào giỏ hàng</button>
                    </div>
                </div>
            </div>
            <div class="col-8 mt-3">
                <tabset>
                    <tab>
                        <ng-template tabHeading><span class="icon-information"
                                style="color: #E91E63;font-size: x-large;vertical-align: middle;font-weight: 500;"></span>
                            Thông tin chi tiết</ng-template>
                        <div [innerHTML]="currentProduct.details"></div>
                    </tab>
                    <tab>
                        <ng-template tabHeading><span class="icon-bubble2"
                                style="color: #E91E63;font-size: x-large;vertical-align: middle;"></span> Nhận xét
                            &nbsp;<span class="badge badge-pill badge-danger"> {{totalComment}} </span>
                        </ng-template>

                        <div class="col-12">
                            <div class="row">
                                <div class="col-4 mt-3" style="border-right: 1px solid gray;">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <b>Đánh giá trung bình</b>
                                        </div>
                                        <div class="col-12 text-center txt_pink mt-2">
                                            <h4> {{currentProduct.star}}/5 </h4>
                                        </div>
                                        <div class="col-12 text-center mt-2">
                                            <p-rating [ngModel]="currentProduct.star" readonly="true" stars="5"
                                                [cancel]="false"></p-rating>
                                        </div>
                                        <div class="col-12 text-center mt-2">
                                            ( {{currentProduct.ratedCount}} lượt đánh giá )
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8 mt-3">
                                    <span>5&nbsp;<i class="pi pi-star" style="color: #E91E63;"></i>
                                        <p-progressBar [value]="50" [style]="{'height': '6px'}" [showValue]="false">
                                        </p-progressBar>
                                    </span>
                                    <div class="mt-2">4&nbsp;<i class="pi pi-star" style="color: #E91E63;"></i>
                                        <p-progressBar [value]="25" [style]="{'height': '6px'}" [showValue]="false">
                                        </p-progressBar>
                                    </div>
                                    <div class="mt-2">3&nbsp;<i class="pi pi-star" style="color: #E91E63;"></i>
                                        <p-progressBar [value]="10" [style]="{'height': '6px'}" [showValue]="false">
                                        </p-progressBar>
                                    </div>
                                    <div class="mt-2">2&nbsp;<i class="pi pi-star" style="color: #E91E63;"></i>
                                        <p-progressBar [value]="10" [style]="{'height': '6px'}" [showValue]="false">
                                        </p-progressBar>
                                    </div>
                                    <div class="mt-2">1&nbsp;<i class="pi pi-star" style="color: #E91E63;"></i>
                                        <p-progressBar [value]="10" [style]="{'height': '6px'}" [showValue]="false">
                                        </p-progressBar>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <hr>
                        <app-comment-list [productID]="currentProduct.id"></app-comment-list>
                        <div class="col-12 mt-3 text-center" *ngIf="isEmpty">
                            <span>
                                <img src="assets/sad_pet.png" width="10%">
                                <h5 class="mt-3">Chưa có lượt đánh giá nào!</h5>
                            </span>

                        </div>
                    </tab>
                    <tab>
                        <ng-template tabHeading><span class="icon-star-full"
                                style="color: #E91E63;font-size: x-large;vertical-align: middle;font-weight: 500;"></span>
                            Đánh giá sản phẩm</ng-template>
                        <h6>GỬI ĐÁNH GIÁ CỦA BẠN</h6>
                        <form [formGroup]="newCommentForm">
                            <div class="row ml-2">
                                <div class="col-8">
                                    1.Đánh giá của bạn về sản phẩm
                                    <p-rating stars="5" [cancel]="false" [(ngModel)]="newCommentInput.star"
                                        [ngModelOptions]="{standalone: true}"></p-rating>
                                </div>
                                <div class="col-8">
                                    <p>2.Tiêu đề nhận xét</p>
                                    <textarea rows="1" pInputTextarea placeholder="Tiêu đề bài nhận xét" id="tittle"
                                        name="tittle" [(ngModel)]="newCommentInput.tittle"
                                        formControlName="tittle"></textarea>
                                </div>
                                <div class="mt-2 col-8">
                                    <p>3.Nội dung</p>
                                    <textarea rows="2" pInputTextarea placeholder="Nội dung bài nhận xét" id="content"
                                        name="content" [(ngModel)]="newCommentInput.content"
                                        formControlName="content"></textarea>
                                </div>
                                <div class="col-8 mt-3 text-left">
                                    <button class="btn btn-danger" type="button" [disabled]="!newCommentForm.valid"
                                        (click)="addNewComment()">Gửi đánh giá</button>
                                </div>
                            </div>
                        </form>
                    </tab>
                </tabset>
            </div>
            <div class="col-4 card " style="margin-top:3.75em">
                <app-product-list [numProductOnRow]="'col-6'" [categoryId]="currentProduct.categoryId" [rows]="4"
                    [isPaging]="false"></app-product-list>
            </div>
        </div>

        <div *ngIf="isBusy" class="screen-center">
            <app-spinner></app-spinner>
        </div>
    </div>
</div>