<div class="animated fadeIn" style="margin-bottom: 120%;">
    <div [ngClass]="{'disable': isBusy}">

        <div class="toolbar">
            <ul class="text-dark" style="font-family: auto;font-size: 18px;padding-left:10px;margin:0;">
                <li class="menu-toolbar" style="display: inline-block;padding:15px;padding-left: 20px;cursor: pointer;" 
                (click)="addNew()">
                    <i class="pi pi-save"></i> Lưu</li>
                    <li class="menu-toolbar" style="display: inline-block;padding:15px;padding-left: 20px;cursor: pointer;" 
                (click)="refresh()">
                    <i class="pi pi-refresh"></i> Làm mới</li>
                
            </ul>
        </div>

        <div class="row">

            <div class=" form-group col-md-4 ">
                <label for="PRODUCT_NAME"><strong>Tên loại(<span style="color: red;">*</span>)</strong></label>
                <textarea rows="1" id="PRODUCT_NAME" class="form-control" name=" PRODUCT_NAME"
                    [(ngModel)]="newCateInput.name" ></textarea>
            </div>

            <div class=" form-group col-md-4 ">
                <label for="PRODUCT_NAME"><strong>Mô tả(<span style="color: red;">*</span>)</strong></label>
                <textarea rows="1" id="PRODUCT_NAME" class="form-control" name=" PRODUCT_NAME"
                    [(ngModel)]="newCateInput.seoDescription" ></textarea>
            </div>

            <div class=" form-group col-md-4">
                <label for="cate"><strong>Thuộc loại</strong></label>
                <p-dropdown [options]="typeItems" filter="true" [(ngModel)]=" cateParrentIDInput"
                    name="cate"   styleClass="form-control fix-dropdown" >
                    <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                            <div style="font-size:14px;float:left;margin-top:4px;">{{item.label}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>

        <div *ngIf="isBusy">
            <app-spinner></app-spinner>
        </div>
    </div>
</div>